@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #ffffff;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

header{
    width: 100%;
    padding: 2.5rem 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 650ms;
    z-index: 999;
}

#servicos{
    scroll-margin-top: 60px;
}

#sobre_nos{
    scroll-margin-top: 60px;
}

#contato{
    scroll-margin-top: 60px;
}

header.rolagemMenu{
    background-color: #fff;
    padding: 0.93rem 2%;
}

header.rolagemMenu .logo #logo-site{
    width: 12.5rem;
    height: 3.125rem;
}

header.rolagemMenu ul li a{
    color: #162b45;
}

header.rolagemMenu .social a i{
    font-size: 1.25rem;
}

header.rolagemMenu .social a:hover{
    padding: 0.75rem 1.375rem;
}

header.rolagemMenu .menu-icon-mobile button i{
    font-size: 20px;
    color: #162b45;
}

header ul li a:hover{
    background-color: #162b45;
    padding: 0.9375rem;
    border-radius: 10px;
    color: #fff;
}

header.rolagemMenu .btn-menu i{
    font-size: 20px;
    color: #162b45;
}

.logo a #logo-site{
     width: 14.375rem;
     height: 4.375rem;
}

.social a i{
    font-size: 1.875rem; 
}

.social a{
    text-decoration: none;
    background-color: #162b45;
    margin: 0 0.625rem;
    padding: 0.625rem 1.25rem;
    border-radius: 50px;
    transition: 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a:hover{
    padding: 0.9375rem 1.56rem;
}

.conteiner{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-btn, .logo{
    flex: 1;
}

.menu-itens{
    flex: 0;
}

.social-btn{
    display: flex;
    justify-content: flex-end;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 0.625rem;
}

header ul li a{
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: 100ms;
}

header ul li a:hover{
    background-color: #162b45;
    padding: 0.625rem 1.25rem;
    border-radius: 10px;
}

.btn-menu{
    display: none;
}

.btn-menu i{
    font-size: 30px;
    color: #fff;
}

.menu-mobile{
    height: 100vh;
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    background-color: #162b45;
    width: 0%;
    overflow: hidden;
    transition: 0.5s;
}

.menu-mobile.abrir-menu{
    width: 70%
}

.menu-mobile.abrir-menu ~ .overlay{
    display: block;
}

.menu-mobile .btn-fechar i{
    font-size: 30px;
    margin: 20px 0 0 20px;
}

.menu-mobile .menu-itens-mobile{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.menu-mobile .menu-itens-mobile li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 ;
}

.menu-mobile .menu-itens-mobile li a{
    font-size: 16px;
    margin-bottom: 5px;
    padding: 5px 7px;
    color: #fff;
}

.menu-mobile .menu-itens-mobile li a:hover{
    background-color: #fff;
    color: #162b45;
    padding: 5px 7px;
}


.menu-mobile .social-btn-mobile .social a i{
    font-size: 20px;
}

.overlay{
    background-color: #00000091;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none
}


.btn-contato{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 20px 20px 0;
    width: 60px;
    height: 60px;
    background-color: #77782e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.btn-contato a{
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-contato a i{
    font-size: 40px;
}

.banner{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/banner1.jpg);
    position: relative;
    height: 100vh;
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-weight: bold;
    color: #77782e;
    font-size: 3.5rem;
    margin: 2.5rem 0 0.18rem 0;
    text-align: center;
}

.banner p{
    font-size: 1.25rem;
    color: #dfe4ed;
    margin-bottom: 1.25rem;
    text-align: center;
}

.banner a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.3rem;
    height: 3.12rem;
    background-color: #162b45;
    border: 0;
    border-radius: 30px ;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: #dfe4ed;
}

.banner a:hover{
    background-color: #77782e;
    transition: 600ms;
}

.sobrenos{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/banner-sobrenos.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.flexSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.sobrenos h1 {
    font-weight: bold;
    color: #77782e;
    font-size: 3.5rem;
    text-align: center;
}

.txt-sobre {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 31rem;
}

.txt-sobre p {
    padding-bottom: 1rem;
    text-align: justify;
}

.txt-sobre a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.3rem;
    height: 3.12rem;
    background-color: #162b45;
    border: 0;
    border-radius: 30px ;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: #dfe4ed;
}

.txt-sobre a:hover{
    background-color: #77782e;
    transition: 600ms;
}

.flex-botao-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-sobre {
    display: flex;
    justify-content: center;
    align-content: center;
}

.video-sobre video{
    width: 31.563rem !important; 
    border-radius: 10px !important;
    filter: opacity(80%); 
}

.flex-servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    overflow: hidden;
}

.flex-servicos h1{
    color: #77782e;
    font-size: 3.5rem;
    margin: 40px 0 20px 0;
    font-weight: bold; 
}

.flex-servicos .row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-servicos .col{
    width: 22.5rem;
    height: 37.5rem;
    background-color: #162b45;
    margin: 1.875rem;
    border-radius: 5px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.flex-servicos .col .img-servico{
    width: 14.37rem;
    height: 14.06rem;
    border-radius: 20px;
}

.flex-servicos .col h1{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0.938rem 0;
}

.flex-servicos .col p{
    font-size: 0.93rem;
    text-align: center;
    font-weight: 400;
}

.flex-servicos .col a{
    position: absolute;
    bottom: 5%;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px 15px;
    text-decoration: none;
    transition: 600ms;
}

.flex-servicos .col a:hover{
    background-color: #77782e;
    
}

.flex-contato{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 10%;
}

.contato{
    overflow: hidden;
}

.contato h1{
    color: #77782e;
    font-size: 3.5rem;
    margin: 40px 0 30px 0;
    font-weight: bold;
    text-align: center; 
}

.info-contato{
    width: 22rem;
    height: 27rem;
    background-color: #162b45;
    padding: 2%;
    border-radius: 10px;
}

.flex-contato h1.titulo-info-contato{
    color: #fff;
    font-size: 2rem;
    font-weight: bold; 
    margin: 0 0 30px 0;
    text-align: left;
}

.flex-contato i.fa-comment-dots{
    color: #fff;
    font-size: 2rem;
    font-weight: bold; 
    margin: 0;
    text-align: left;
}

.lista-info-contato ul{
    list-style: none;
}


.lista-info-contato ul li{
    margin: 30px 0;
}

.lista-info-contato ul li .btn-info-contato{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.lista-info-contato ul li .btn-info-contato .bkg-i{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.lista-info-contato ul li .btn-info-contato .bkg-i i{
    font-size: 1.5rem;
}

.lista-info-contato ul li .btn-info-contato .txt-info-contato ul li{
    margin: 2px;
}

.form-contato{
    margin-left: 50px;
}

.form-contato .row{
    display: flex;
    gap: 20px;
}

.form-contato .form-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.form-contato .row .form-item input{
   width: 22rem;
   height: 3rem;
   font-size: 1.1rem;
   border: 1px solid #162b45;
   border-radius: 0.5rem;
   padding: 0.5rem;
   outline: none;
   color: rgb(7, 7, 7);
   transition: border-color 0.3s, box-shadow 0.3s;
}

.form-contato .message textarea{
    min-height: 6.25rem;
    border: 1px solid #162b45;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: rgb(7, 7, 7);
    margin-bottom: 1rem;
    resize: vertical;
    transition: border-color 0.3s, box-shadow 0.3s;
 }

.form-contato .row .form-item input:hover,
.form-contato .row .form-item input:focus,
.form-contato .message textarea:hover,
.form-contato .message textarea:focus{
    outline: none;
    border-color: #77782e;
    box-shadow: 0 0 0 0.1rem #6b6d05;
}

.form-contato .form-item label{
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-contato button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #162b45;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}

.form-contato button:hover{
    outline: none;
    background-image: linear-gradient(45deg, #1d1d1d, #162b45);
}

.form-contato button span {
    position: relative;
    z-index: 1;
}

.form-contato button i {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.form-contato button span{
    transition: opacity 0.3s;
}

.form-contato button.success {
    background-color: #28a745;
    pointer-events: none;
}

.form-contato button.error {
    background-color: #dc3545;
    pointer-events: none;
}

.faleconosco{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/banner-faleconosco.jpg);
    height: 68vh;
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.flexFale{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.faleconosco h1 {
    font-weight: bold;
    color: #77782e;
    font-size: 3.5rem;
    text-align: center;
}

.txt-fale {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.txt-fale p {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    text-align: justify;
}

.txt-fale a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.3rem;
    height: 3.12rem;
    background-color: #162b45;
    border: 0;
    border-radius: 30px ;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: #dfe4ed;
}

.txt-fale a:hover{
    background-color: #77782e;
    transition: 600ms;
}

footer {
    background-color: #162b45;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-column {
    width: 20%;
    min-width: 200px;
    margin: 10px 0;
}

.footer-column h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column p {
    color: #fff;
    text-decoration: none;
}

.footer-column i {
    font-size: 1.2rem;
    margin: 5px;
}

.social-icon {
    margin: 0 5px;
    display: inline-block;
}

.social-icon i {
    font-size: 1.5rem;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
    font-size: 0.9em;
}

@media (max-width: 1270px){
    html{
        font-size: 14px;
    }

    .flex-servicos .col{
        margin: 0.8rem;
    }
}

@media (max-width: 1023px){
    html{
        font-size: 12px;
    }

    .flex-servicos{
        padding-bottom: 40px;
    }

    .flex-servicos .row{
       flex-wrap: nowrap;
    }

    .flex-servicos .col{
        margin: 0.8rem;
    }

    .flex-contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-contato{
        margin-left: 20px;
    }
    
    .info-contato{
        height: 30rem;
    }

    .btn-menu{
        display: block;
    }

    .menu-itens{
        display: none;
    }

    .social-btn{
        display: none;
    }
}

@media (max-width: 767px){
    html{
        font-size: 10px;
    }

    header{
        padding: 0.93rem 4%;
        filter: brightness(120%);
    }

    header.rolagemMenu{
        filter: brightness(100%);
    }

    .flex-servicos{
        margin-bottom: 40px;
    }

    .flex-servicos .row{
        flex-wrap: wrap;
    }

    .banner{
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url(../img/banner-mobile.jpg);
        height: 60vh;
        background-position: 45% center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner h1{
        font-size: 2.8rem;
    }

    .btn-menu{
        display: block;
    }

    .menu-itens{
        display: none;
    }

    .social-btn{
        display: none;
    }

    .flexSobre {
        display: flex;
        flex-direction: column;
        margin: 3vh;
        gap: 5vh;
    }
    .txt-sobre p{
        margin-bottom: 2vh;
    }

    .flex-servicos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 4%;
    }
    
    .flex-servicos h1{
        color: #77782e;
        font-size: 3.5rem;
        margin: 40px 0 20px 0;
        font-weight: bold; 
    }
    
    .flex-servicos .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .flex-servicos .col{
        width: 35rem;
        height: 45rem;
        padding: 15px 20px;
        border-radius: 10px;
    }
    
    .flex-servicos .col .img-servico{
        width: 20rem;
        height: 18rem;
    }
    
    .flex-servicos .col h1{
        font-size: 2.2rem;
        margin: 1rem 0;
    }
    
    .flex-servicos .col p{
        font-size: 1.3rem;
    }

    .flex-servicos .col a{
        padding: 10px 15px;
        font-size: 1.5rem;
    }

    .sobrenos{
        height: 40vh;
    }

    .flexSobre{
        gap: 20px;
    }

    .txt-sobre {
        width: 350px;
        font-size: 1vh;
    }

    .txt-sobre h1{
        font-size: 4em;
    }

    .txt-sobre p{
        margin: 0;
        font-size: 1.1em;
    }

    .txt-sobre a{
        font-size: 1em;
    }

    .video-sobre video{
        width: 22em !important; 
    }

    .flex-contato{
       justify-content: center;
       flex-wrap: wrap;
    }
    
    .info-contato{
        width: 36rem;
        height: 37rem;
        margin-bottom: 50px;
    }
    
    .flex-contato h1.titulo-info-contato{
        font-size: 3rem;
    }
    
    .flex-contato i.fa-comment-dots{
        font-size: 3rem;
        margin-left: 5px;
    }
    
    .lista-info-contato ul{
        margin-left: 20px;
    }
    
    .lista-info-contato ul li{
        margin: 10px 0 30px 0;
    }
    
    .lista-info-contato ul li .btn-info-contato .bkg-i i{
        font-size: 2rem;
    }

    .lista-info-contato ul li .btn-info-contato .txt-info-contato h3{
        font-size: 1.5rem;
    }

    .lista-info-contato ul li .btn-info-contato .txt-info-contato a{
        font-size: 1.2rem;
    }

    .lista-info-contato ul li .btn-info-contato .txt-info-contato ul{
        margin: 0;
    }

    .lista-info-contato ul li .btn-info-contato .txt-info-contato ul li p{
        font-size: 1.2rem;
    }
    
    .form-contato{
        margin: 10px;
    }
    
    .form-contato .row{
        display: flex;
        flex-direction: column;
        margin-bottom: 17px;
    }
    
    .form-contato .form-item{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    
    .form-contato .row .form-item input{
       width: 35rem;
       color: rgb(7, 7, 7);
    }
    
    .form-contato .message textarea{
        height: 6.25rem;
        color: rgb(7, 7, 7);
        margin-bottom: 20px;
     }
    
    .form-contato .form-item label{
        color: #000;
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 5px;
    }
    
    .form-contato button{
       width: 100%;
       height: 40px;
       background-color: #162b45;
       color: #fff;
       border: none;
    }

    .faleconosco{
        height: 30vh;
    }
}